@{
    ViewBag.Title = "index";
}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Online Testing Service</title>
<link href="~/Content/home.css" rel="stylesheet" type="text/css" />

     @Scripts.Render("~/bundles/jquery")

<script>


$(document).ready(function(){
	rotatePics(1);
});

function rotatePics(currentPhoto) {
	var numberOfPhotos = $('.photos img').length;
	currentPhoto = currentPhoto % numberOfPhotos;

	$('.photos img').eq(currentPhoto).fadeOut(function() {
		$('.photos img').each(function(i) {
		$(this).hide();
		        });
        $(this).fadeIn(500);
		setTimeout(function() {rotatePics(++currentPhoto);}, 2000); //Time length before fade in milliseconds
	});
}

</script>

</head>
<body>
    @if (Session["isReg"] != null )
    { 
        Session.Remove("isReg");
       <script>
           alert("Successfully Registered");
       </script>
    }
    <div id="wrapper">
<div id="header">
    <div class="logo"><img src="~/images/logo3.png" width="1800" height="1200" alt="logo" /></div>
   @if(Session["login"] == null )
   {
     <div class="form">
      <form id="form1" name="form1" method="post" action="/Home/login">
        <label for="username">Username </label>
        <input type="text" name="username" id="username" width="60px" required />
        <label for="password">Password </label>
        <input type="password" name="password" id="password" width="60px" required />
        <label for="Login"></label>
        <input type="submit" name="Login" id="Login" value="Login" style="position:relative" />
      </form>
    </div>
   }
    else
    {
       <div class="form">
      <form id="form1" name="form1" method="post" action="/Home/logout">
        <label for="Logout"></label>
        <input type="submit" name="Logout" id="Logout" value="Logout" style="position:relative" />
      </form>
    </div>
    }
    
    <div class="head_nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li>@Html.ActionLink("Take Test", "taketest","ManageQuiz")</li>
        <li>@Html.ActionLink("Post Test", "posttest","ManageQuiz")</li>
        <li>@Html.ActionLink("Contact Us", "contactus","Home")</li>
        <li>@Html.ActionLink("Sing Up", "signup","Home")</li>
          
      </ul>
    </div>
  </div>

@RenderBody()

<div id="footer"><hr /><p align="center">Copyright &copy | All rights reserved</p></div>
    </div>
</body>
 </html>